%p
  =link_to "新建: 界面相关", "/work_results/new?kind=UI" 
  =link_to "新建: 功能逻辑相关", "/work_results/new?kind=LOGIC" 
  =link_to "新建: 概念相关", "/work_results/new?kind=CONCEPT" 

  =link_to "所有列表", "/work_results"