:css
  .item {
    width: 220px;
    margin: 10px;
    float: left;
  }

- content_for :javascript do
  :javascript
    jQuery(function(){
      
      var $container = jQuery('#container');
      
      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector: '.box',
          columnWidth: 800
        });
      });
      
      $container.infinitescroll({
        navSelector  : '#page-nav',    // selector for the paged navigation 
        nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
        itemSelector : '.box',     // selector for all items you'll retrieve
        loading: {
            finishedMsg: 'No more pages to load.',
            img: 'http://i.imgur.com/6RMhx.gif'
          }
        },
        // trigger Masonry as a callback
        function( newElements ) {
          // hide new items while they are loading
          var $newElems = $( newElements ).css({ opacity: 0 });
          // ensure that images load before adding to masonry layout
          $newElems.imagesLoaded(function(){
            // show elems now they're ready
            $newElems.animate({ opacity: 1 });
            $container.masonry( 'appended', $newElems, true ); 
          });
        }
      );
      
    });





= form_for WorkResult.new, :url => "/work_results", :html => { :multipart => true, :method => 'post' } do |f|
  %div
    = f.file_field :image
  %div
    =f.text_area :description, :rows => 3
  %div
    =f.submit "添加"

%section#content
  #container
    - @work_results.each do |work_result|
      .box
        = image_tag work_result.image.url(:medium)

  %nav#page-nav{:style => "display: none;"}
    %a{:href => "/work_results/next?page=2"}


