= form_for WorkResult.new, :url => "/work_results", :html => { :multipart => true, :method => 'post' } do |f|
  %div
    = f.file_field :image
  %div
    =f.text_area :description, :rows => 3
  %div
    =f.submit "添加"


- @work_results.each do |work_result|
  = image_tag work_result.image.url(:thumb)


= will_paginate @work_results